.elems-container {
    /* background-color: #030947 !important; */
    min-height: 100vh;
    
  }

  .container-margin {
    padding-left: 6rem;
    padding-right: 6rem;
    /* border: 1px solid black; */
    max-width: 1200px; /* Imposta una larghezza massima a tuo piacimento */
    margin: 0 auto; /* Questo centrerà il container */
    margin-top:15rem;
}

  
  .row-overflow {
    overflow-x: auto;
    white-space: nowrap;
    /* margin-bottom: -10px;  */
    
  }
  
  .row-overflow > .col {
    flex: 0 0 auto;
    /* margin-bottom: 10px;  */
  }
  
  /* 
  .elem-container{
    position:relative;
  } */
  
  /* .chat-container{
  position: absolute;
  left:100%;
  top:95%;
  } */

  .text-title-larger{
    color: #37bb8d !important; /* Questo è un esempio di colore azzurrino. Puoi regolare il codice colore secondo le tue preferenze. */
    font-size: 20px !important;
    font-weight: bold;
    padding-top: 5rem;
  } 
  
  .text-larger{
    color: #102c22; /* Questo è un esempio di colore azzurrino. Puoi regolare il codice colore secondo le tue preferenze. */
    font-size: 20px;
    font-weight: bold;
  }

  .text-large{
    color: #102c22; /* Questo è un esempio di colore azzurrino. Puoi regolare il codice colore secondo le tue preferenze. */
    font-size: large;
    margin-bottom: 2rem;
  }

  .text-azzurrino {
    color: #cbc754; /* Questo è un esempio di colore azzurrino. Puoi regolare il codice colore secondo le tue preferenze. */
    font-size: large;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.text-normal{
    color: #102c22; /* Questo è un esempio di colore azzurrino. Puoi regolare il codice colore secondo le tue preferenze. */
    font-size: large;
    margin-bottom: 2rem;
}

.text-normal-small{
    font-size: 20px !important;
    font-weight: bold;
}

.big-button {
  width: 24rem;  /* La larghezza può essere regolata a tuo piacimento */
  height: 2.5rem;
  background-color: #25aa7b;  /* Questo è il colore blu di default di Bootstrap. Puoi cambiarlo. */
  color: white;
  border: none;
  border-radius: 5px; 
  font-size: 1.3rem; /* Dimensione del font più grande */
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  /* line-height: 3rem;  Questo aiuterà a centrare verticalmente il testo nel pulsante */
  margin-top: 2rem;  /* Questo centrerà il pulsante orizzontalmente */
  margin-left: -3rem;
}


.hrLine {
  width: 95%; /* 3cm da ciascun lato */
  margin: 30px 20px; 

}
.flex-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;  
  align-items: center;
}

.text-box {
    border: 2px solid #000;  /* Bordo nero, ma puoi personalizzare il colore */
    padding: 1rem;          /* Spazio interno tra il testo e il bordo */
    margin: 1rem 0;         /* Margine sopra e sotto il box */
    word-wrap: break-word !important;
    overflow: hidden !important;
    /* max-width: 100%; */
    white-space: pre-line;
}