.bold {
  font-weight: bold;
}

.bold-columns th:nth-child(-n+3) {
  font-weight: bold;
}


.button .icon{
  cursor: pointer !important;
  }
  
  .button-modify{
      border: 3px solid  #1926b6 !important;
      background-color: #1926b6 !important;
      color:white;
      margin: 4px;
      /* width: 40px;
      height: 6px; */
      z-index: 1;
  }
  
  
  .button-modify:hover{
      background-color: white !important;
      /* border: 3px dashed  #1926b6; */
      color:#1926b6 !important;
  }
  
  .icon-add{
     background-color: greenyellow!important;
     color:#1926b6
  }
  
  .icon-add:hover{
    background-color: greenyellow!important;
    /* border: 3px dotted  #1926b6; */
  }

  .button-close{
    background-color: red !important;
    color:white;
  }

  .button-close:hover{
    background-color: pink !important;
    border: 3px dotted  red ;
    color:white;
  }


  tr {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
  }

  
  .page-text-input{
    background-color: #1926b6;
    color: white;
    
  }

  .largeTextButton {
    font-size: 1rem; /* Adatta la dimensione del font come preferisci */
    /* padding: 20px, 0 !important; Rimuove il padding */
  
  }
  .header-hieght{
    margin-bottom: 60px;
  }
  @media (max-width:768px){
    .header-hieght{
      margin-bottom: 20px;
    }
    
  }
  @media (max-width:500px){
    .header-hieght{
      margin-bottom: 5px;
    }
    .bold-columns th:nth-child(n+1) {
   
      font-size: 1rem;
      
      
    }
    .tabel-Button .btn {
      --mdb-btn-padding-top: 0rem; 
      --mdb-btn-padding-bottom: 0rem;
       --mdb-btn-border-width: 0; 
       --mdb-btn-padding-x: 0rem;
    }
    .text-sm{
      font-size: 16px;
    }
  }