.table-container {
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
}

.bold {
    font-weight: bold;
  }

  .bold-columns th:nth-child(n+1) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-top: 5px solid black;
    background-color:   #1926b6 !important;
    color:white;
    
  }


  .button .icon{
    cursor: pointer !important;
    }
    
    .button{
        border: 3px solid   #1926b6 ;
        background-color:  #1926b6;
        color:white;
        margin: 4px;
        /* width: 40px;
        height: 6px; */
        z-index: 1;
    }
    
    
    .button:hover{
        background-color: white !important;
        border: 3px solid   #1926b6 ;
        color: #1926b6 !important;
    }
    
    .icon{
        
    }
    
    .icon:hover{
        /* cursor: pointer !important; */
    }

    tr {
      border-top: 1px dashed black;
      border-bottom: 1px dashed black;
    }


    .page-text-input{
      background-color:  #1926b6 !important;
      color: white !important;
      
    }
    .header-hieght{
      margin-bottom: 60px;
    }
    @media (max-width:768px){
      .header-hieght{
        margin-bottom: 20px;
      }
      
    }
    @media (max-width:500px){
      .header-hieght{
        margin-bottom: 5px;
      }
      
  .bold-columns th:nth-child(n+1) {
   
    font-size: 1rem;
    
    
  }
  .tabel-Button .btn {
    --mdb-btn-padding-top: 0rem; 
    --mdb-btn-padding-bottom: 0rem;
     --mdb-btn-border-width: 0; 
     --mdb-btn-padding-x: 0rem;
  }
  .text-sm{
    font-size: 2px !important;
  }
}     
    
    