.form_middle_page {
  position: relative;
  left: 20rem;
  width: 100%;
  cursor: pointer;
}

.form_middle_page_btn {
  margin-top: 2em;
  left: 1em;
}

/* .form-control-wrapper{
    position: relative;
} */
.custom-container {
  width: 100%;
  margin: 0 auto;
  right: 2rem;
}

.custom-form {
  width: 60%;
  margin: 0 auto;
}

.form-main {
  display: flex;
  /* align-items: center;
    justify-content: center; */
  width: 60%;
  left: 2rem;
  /* height: 50vh; Imposta l'altezza del form sulla metà della pagina */
}

.items-icon {
  position: absolute;
  /* border-left: 5px solid blue; */
  z-index: 10;
  bottom: 2px;
  left: 15rem;
}

.word-label {
  font-weight: 600;
  font-size: 15px !important;
}

/* -------------------- */

@media (min-width: 1024px) and (max-width: 1300px) {
  .form_middle_page {
    left: 4rem;
    max-width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .form_middle_page {
    left: 2rem;
    max-width: 50%;
  }

  .form_middle_page_btn {
    margin-top: 2rem;
    left: 2rem;
  }

  .items-icon {
    position: absolute;
    /* border-left: 5px solid blue; */
    z-index: 10;
    left: 3rem;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .form_middle_page {
    left: 2rem;
    max-width: 50%;
  }

  .form_middle_page_btn {
    margin-top: 2rem;
    left: 2rem;
  }
  .items-icon {
    position: absolute;
    /* border-left: 5px solid blue; */
    z-index: 10;
    left: 1rem;
    /* display: none; */
  }
}

@media screen and (max-width: 480px) {
  .form_middle_page {
    left: 2rem;
    max-width: 70%;
  }

  .form_middle_page_btn {
    margin-top: 2rem;
    left: 2rem;
  }
  .items-icon {
    position: absolute;
    /* border-left: 5px solid blue; */
    left: 1rem;
    z-index: 10;
  }
}
.inputProfileDell {
  font-size: 14px !important;
  height: 42px !important;
}
