html {
  font-size: 14px !important;
  overflow: scroll !important;
}

.table {
  margin: 0 !important;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.arrow-down-btn {
  width: 1.7rem;
  height: 2rem;
  cursor: pointer;
}

.arrow-down-btn:hover {
  background-color: #eb1111;
}

.details {
  background-color: #167db9 !important;
  width: 100%;
  height: 300px;
}

.section {
  display: flex;
  width: 100%;
}

.info-section {
  display: flex;
  justify-content: center;
  padding-right:15px ;
  min-height: 300px !important;
  background-color: #ffffff00;
}

.section-details{  
  padding-right:15px ;
  min-height: 300px !important;
  background-color: #ffffff00;
  
}

@media (max-width: 100px) {
  .table-responsive {
    overflow-x: auto !important;
  }
}

.table-row {
  min-width: 200px !important;
  min-height: 200px !important;
  text-align: center;
}

.table-row td {
  text-wrap: initial;
}

.arrow-rotated {
  rotate: -180deg;
}

.detail-wrapper {
  position: relative;
  height: 390px;
  min-width: 100% !important;
}
.detail-sections {
  margin: 7px;
  position: absolute;
  left: -3%;
  right: 0;
  display: flex;
  height: 100%;
  background-image: url(https://img.freepik.com/premium-photo/blue-background-with-white-background_534308-4177.jpg);
  background-size: contain;
  background-size: cover;
}

.detail-sections section {
  margin: 10px;
  width: 33%;
}

.section-item {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  margin-top: -8px 0;
}

.section-item img {
  height: 47%;
  width: 50%;
  border-radius: 4px;  
}

.section-item span {
  margin-top: 0px;
  margin-bottom: 10px;
  color:#050608;
  font-weight:610;
}

.map-wrapper {
  padding-right:15px;
  min-height: 300px !important;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ffffff00;
}

.table-data-img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.arrow-container.selected {
  background-color:rgb(9, 88, 207, 0.998)252, 0.998;    
}

.detail-wrapper.selected {
  background-color: rgb(24, 6, 65);
}

.color-lightcoral {
  background-color: rgb(24, 6, 65);
  padding-left: 1%;
  font-weight: bolder;
  color: white;
}

.color-blue {
  padding-left: 1%;
  margin-top: -11px;
  padding-bottom:10px;
  background-color: rgb(24, 6, 65);
  font-weight: bolder;
  color: white;
}